.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App form{
  border: solid 1px black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}